*{
    margin: 0;
    padding: 0;
    color: #000;
}
/* teste: . .;*/
img.img-logo-page{
width: 10%;
height: 10%;
}

/*teste icones footer*/
img.img-logo-icons{
    width: 5%;
    height: 5%;   
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}